@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Redressed&display=swap');

// USING VARIABLES

$background: #eee8d6;
$text-color: #022933;
$darkblue:   #001e25;
$red:        #d14348;
$blue:       #0076A3;
$yellow:     #ffba00;
$green:      #548c27;
$purple:     #6d73c2;
$orange:     #f39856;
$font-body:  'Oswald';
$font-headings: 'Redressed';


// COLORS FOR MEDIA

$color-item-border: $red;
$color-media-head: $blue;